@import url();

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    

}
:root {
    --div-fundo: #F8F9FA;
    --branca: #ffffff;
    --botao1: #198754;
    --botao2: #DC3545;
    --cor1: #D1E7DD;
    --cor2: #0D6EFD;
}

body {
    margin: 20px;
}